* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: #152238;
    width: 100%;
    z-index: 100;
}

main{
    margin-bottom: 2em;
}

ul {
    height: 100%;
    width: 100%;
}

li {
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.9px;
    transition-duration: 800ms;
    text-underline-offset: 4px;
    font-style:oblique;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
}

input::placeholder {
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

h2 {
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 400;
    color: #1F1E1E;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

section {
    margin-bottom: 10px;
}

footer {
    background-color: #152238;
    padding: 30px 40px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    display: inline-flex;
    color: white;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

table, th, td {
    border: none;
    width: 100%;
    table-layout: fixed;
    padding: 20px 70px;
  }

.introHead {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.introSection {
    padding: 6em 0;
}

.cityGradient {
    color: #CE0F69;
    background: -webkit-linear-gradient(left, #CE0F69, #452E91);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introRow {
    width: 100%;
    display: inline-flex;
    padding: 0 65px;
}

.introCol1 {
    flex: 38%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 24px;
    color: #666;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 0;
}

.introCol2 {
    flex: 62%;
    height: auto;
    padding: 50px 100px;
}

.introVideo {
    width: 100%;
    height: auto;
}

.footerDiv {
    flex: 30%;
}

.contactForm button {
    background-color: #e88a00;
    border: none;
    color: white;
    letter-spacing: 3px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.contactForm {
    text-align: left;
}

.contactForm input {
    border-radius: 10%;
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.search {
    margin-left: auto;
    margin-right: 3em;
}

.search input {
    border: none;
    background-color: whitesmoke;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.search button {
    background-color: #e88a00;
    border: none;
    border-radius: 4px;
    color: white;
    letter-spacing: 3px;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    background-image: url("../assets/banner/banner2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    height: 40em;   
}

.banner2 {
    background-image: url("../assets/banner/banner3.avif");
    background-size: cover;
    display: flex;
    align-items: center;
    height: 30em;   
}

.aboutHead{
    margin: 0 120px;
    padding: 0 30px;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: black;
    
}

.ttdButton{
    padding: 10px 5em;
    border: solid 3px white; 
    background-color: transparent; 
    color: white; 
    font-size: 0.3em; 
    letter-spacing: 3px; 
    word-spacing: 6px;
    cursor: pointer;
}

.aboutImg{
    display: block;
    width: 100%;
    height: 100%;
}

.readMore{
    background-color: #e88a00;
    border: none;
    color: white;
    letter-spacing: 3px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
    cursor: pointer;
}
