.introHead {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}
.introSection {
    padding: 6em 0;
}
.cityGradient {
    color: #ce0f69;
    background: -webkit-linear-gradient(left, #ce0f69, #452e91);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.introRow {
    width: 100%;
    display: inline-flex;
    padding: 0 65px;
}
.introCol1 {
    flex: 38%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 24px;
    color: #666;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.introCol2 {
    flex: 62%;
    height: auto;
    padding: 50px 100px;
}
.introVideo {
    width: 100%;
    height: auto;
}
.footerDiv {
    flex: 30%;
}
.button-base, .contactForm button, .search button {
    background-color: #e88a00;
    border: none;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;
}
.contactForm {
    text-align: left;
}
.contactForm input {
    background-color: #f5f5f5;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.contactForm button {
    padding: 16px 32px;
    margin: 4px 2px;
    width: 100%;
}
.search {
    margin-left: auto;
    margin-right: 4px;
}

.logOut{
    background-color: #e88a00;
    border: none;
    color: #fff;
    letter-spacing: 3px;
    margin-right: 10px;
    padding: 12px 20px;
    border-radius: 4px;
}

.search input {
    border: none;
    background-color: #f5f5f5;
    padding: 12px 20px;
    margin: 8px 7px;
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.search button {
    padding: 12px 20px;
    border-radius: 4px;
}
.banner {
    background-size: cover;
    display: flex;
    align-items: center;
    background-image: url("../assets/banner/banner2.png");
    height: 40em;
}
.bannerSpan {
    flex: 50%;
    margin-left: 3em;
    font-size: 50px;
    font-weight: 700;
    color: #f5f5f5;
}
.banner2 {
    background-size: cover;
    display: flex;
    align-items: center;
    background-image: url("../assets/banner/banner3.avif");
    height: 30em;
}
.aboutHead {
    margin: 0 120px;
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: #000;
}
.ttdButton {
    padding: 10px 20px;
    border: solid 3px #fff;
    background-color: transparent;
    color: #fff;
    font-size: 0.3em;
    letter-spacing: 3px;
    word-spacing: 6px;
    cursor: pointer;
    position: relative;
    animation: mymove 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
@keyframes mymove {
    from {
        font-size: 0;
   }
    to {
        font-size: 30px;
   }
}
.aboutImg {
    display: block;
    width: 100%;
    height: 100%;
}
.readMore {
    background-color: #e88a00;
    border: none;
    color: #fff;
    letter-spacing: 3px;
    font-size: small;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
}
#aboutImg {
    padding: 20px;
}
#aboutImg:hover {
    animation: shakeImage 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shakeImage {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
   }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
   }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
   }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
   }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
   }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
   }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
   }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
   }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
   }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
   }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
   }
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    align-items: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 70px;
    font-size: 30px;
}
