* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: #152238;
    width: 100%;
    z-index: 100;
}

main{
    margin-bottom: 2px;
}

ul {
    height: 100%;
    width: 100%;
}

li {
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.9px;
    transition-duration: 800ms;
    text-underline-offset: 4px;
    font-style:oblique;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
}

input::placeholder {
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
}

h2 {
    font-family: "GothamBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 400;
    color: #1F1E1E;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

section {
    margin-bottom: 10px;
}

footer {
    background-color: #152238;
    padding: 30px 40px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    display: inline-flex;
    color: white;
}

footer h3{
    font-family: inherit; 
    font-weight: 100;
    font-size: 1.5em; 
    margin: 0 0 10px 0;
    text-align: center;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

table, th, td {
    border: none;
    width: 100%;
    table-layout: fixed;
    padding: 20px 70px;
  }